<!DOCTYPE html>
<html>
  <head>
    <title>VeerOrganics</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
    <script src='/assets/jquery.immersive-slider.js'></script>
    <script src='/assets/responsiveslides.min.js'></script>
    <script src='/assets/jquery.flexslider.js'></script>
    <script src='/assets/move-top.js'></script>
    <script src='/assets/jquery.flipster.js'></script>
    <script src='/assets/jarallax.js'></script>
  </head>

  <body>
    <div id="wrapper">
    <%= render :partial  => "layouts/header" %>
    <%= yield %>
    <%= render :partial  => "layouts/footer" %>
    </div>
  </body>
</html>
